html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*max-width: 1600px;*/
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f7;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.container {
    padding: 1rem;
}

header {
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.navbar{
    padding: 1rem;
}

.logo-img {
    width: 30px;
    margin-bottom: 10px;
}

.nav-item a {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.navbar-nav {
    justify-content: end;
}

.nav-link.active {
    border-bottom: 2px solid black;
    padding-bottom: 0rem;
}


h1 {
    color: #1b1b1b;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: -.04em !important;
    margin-bottom: 1rem;
}

.main-header-flags {
    padding: 1.875rem .625rem .625rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 .125rem .875rem 0 rgba(0,0,0,.2);
    background-color: #fff;
}

h2 {
    margin-bottom: 2.5rem;
    color: #1b1b1b;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 32px;
}

.main-header-flags-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.icon-flags img {
    width: 100px;
}

a {
    text-decoration: none;
    color: black;
}

.main-header-flags-wrap a {
    margin: 0 3rem;
}

.img-100 {
    max-width: 100%;
    max-height: 100%;
}

 ------- Carousel  ---------
.card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    padding: 20px 60px;
    box-shadow: 10px 10px 10px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
}

    .card .image {
        width: 3rem;
        margin-bottom: 20px;
    }

        .card .image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .card h3 {
        text-align: center;
    }

    .card p {
        color: orange;
        text-align: center;
    }

.swiper-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.swiper {
    margin: 0 auto;
    cursor: grab;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
    border-radius: 32px !important;
}

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 18px !important;
        font-weight: bold;
        color: #000;
    }

    .swiper-button-next:hover {
        transform: scale(1.2) translateX(80%);
    }

    .swiper-button-prev:hover {
        transform: scale(1.2) translateX(-80%);
    }

.swiper-button-next {
    transform: translateX(100%);
}

.swiper-button-prev {
    transform: translateX(-100%);
}

.swiper-pagination {
    transform: translateY(200%);
}

.swiper-pagination-bullet {
    background: #fff;
    width: 15px;
    height: 15px;
}

.swiper-pagination-bullet-active {
    background-color: black !important;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -2.5rem !important;
}

.card-inside {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow: auto;
}

.Translated-word {
    color: #1b1b1b;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: .5rem;
}

.Original-word {
    font-size: 1rem;
    font-weight: 500;
    margin-left: .5rem;
}

.Sentence-Translated-word {
    color: #1c55bb;
}

.custom-flex {
    flex-direction: column;  Ustawia kierunek flex na kolumn� 
    flex-wrap: nowrap;
}

.slider-big-custom-margin {
    margin-top: 6rem;
}

.spanish-color {
    color: #a81e1e;
}

.Italianish-color {
    color: #1c771c;
}

.english-color {
    color: gray;
}

.germanish-color {
    color: #ccaf10;
}

.french-color {
    color: #3265c6;
}

.description b {
    font-weight: bold;
}

.markbook-item {
    position: absolute;
    top: 0;
    right: 0;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 !important;
}


.blog-card-img {
    width: 300px;
}

.blog-card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    padding: 20px 15px;
    box-shadow: 10px 10px 10px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
}

.badge-flag-icon {
    width: 20px;
    margin-right: 5px;
}

.card-title {
    color: #292424;
    margin-bottom: 2rem;
}

    .card-title a:hover {
        color: #660606 !important
    }

.card-text {
    margin-bottom: 2rem;
}

.minread {
    text-align: right;
    color: #505559;
}

.btn-link {
    text-decoration: none;
}

section h2 {
    color: #333;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.contact-section {
    margin: 50px auto;
}

    .contact-section p {
        font-size: 1.3rem;
        color: #323437;
        text-align: center;
    }

    .contact-section a {
        color: #2f2fb1;
    }

        .contact-section a:hover {
            color: #5a5aff;
        }


.footer {
    background-color: #141516;
    position: relative !important;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    .footer-links ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .footer-links li {
        display: inline-block;
        margin-right: 15px;
    }

    .footer-links a {
        color: #e2d3d3;
    }

.footer-logo img {
    height: 30px;
    margin-right: 3px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-copyright {
    color: gray;
}

.footer-logo h2 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 32px;
    margin-bottom: 0;
    color: white;
}

.line {
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 100%;
    border: 2px solid #000;
}



.big-margin-bottom {
    margin-bottom: 5rem;
}

.big-margin-top {
    margin-top: 5rem;
}

.big-margin-right {
    margin-right: 5rem;
}

.custom-padding-footer{
    padding: 30px 0;
}

.container {
    flex: 1;
}

.logo-title-first {
    color: rgb(30 41 59);
    font-weight: 700;
    font-size: 1.6rem;
}

.logo-title-first-white {
    color: rgb(183, 183, 183) !important;
    font-weight: 700;
    font-size: 1.6rem;
}

.logo-title-second {
    color: rgb(151, 117, 15);
    font-weight: 700;
    font-size: 1.6rem;
}

.navbar-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px,6px);
}

.navbar-toggle.active span:nth-child(2) {
    opacity: 0;
}

.navbar-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px,-6px);
}

.navbar-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #4a4a4a;
    transition: transform .2s ease-in-out;
}

.bookmark-icons {
    width: 24px;
}

@media (min-width: 200px) and (max-width: 575px) {
    .mb-0.mt-1rem {
        margin-top: 1.8rem !important;
    }
}

@media (max-width: 400px) {
    .icon-flags img {
        width: 50px !important;
    }
}

@media (max-width: 575px) {
    .contact-section p {
        font-size: 1rem;
    }

    .h1-design {
        font-size: 32px;
    }

    .icon-flags img {
        width: 60px;
    }

    .main-header-flags h2 {
        margin-bottom: 1.5rem;
    }

    .flag-text {
        display: none;
    }

    .p-design {
        font-size: 1.1rem !important;
    }

    .h2-design {
        font-size: 1.5rem !important;
    }

    .img-design {
        width: 70px !important;
    }

    .swiper-button-prev {
        transform: translateX(-80%) !important;
    }

    .swiper-button-next {
        transform: translateX(80%) !important;
    }

    .container {
        overflow-x: hidden;
    }

    .Translated-word {
        font-size: 2rem;
    }

    .Original-word {
        font-size: 1.3rem;
    }

    .Sentence-Translated-word {
        font-size: 1.3rem;
    }

    .Sentence-Original-word {
        font-size: 1.3rem;
    }
}

@media (max-width: 991px) {
    .contact-section p {
        font-size: 1rem;
    }

    .h1-design {
        font-size: 32px;
    }

    .mt-zero-res {
        margin-top: 0;
    }

    .main-header-flags-wrap a {
        margin: 0 .5rem;
    }

    section {
        padding: 20px 0 !important;
    }
}

@media only screen and (max-width: 1920px) {
    .mt-1rem {
        margin-top: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .bookmark-icons {
        width: 30px;
    }

    .h1-design {
        font-size: 40px;
    }

    .blog-card-img {
        max-width: 200px;
    }

    .blog-card {
        padding: 20px 5px;
    }

    .icon-flags img {
        width: 70px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .bookmark-icons {
        width: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .bookmark-icons {
        width: 20px;
    }
}

@media (min-width: 1200px) {
    .bookmark-icons {
        width: 24px;
    }

    .h1-design {
        font-size: 3rem !important;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-nav {
        justify-content: initial;
    }

    .navbar-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 50vh;
        padding: 30px 0;
        display: none;
        flex-direction: column;
        gap: 15px 0;
        text-align: center;
        background: #fff;
        box-shadow: 0 4px 10px rgba(0,0,0,.2);
        z-index: 999;
        overflow-y: auto;
    }

        .navbar-menu.active {
            display: flex;
        }

        .navbar-menu .nav-item {
            padding-top: 1rem;
        }

        .navbar-menu a {
            font-size: 1.2rem;
        }
}



@media only screen and (min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    .h1-design {
        font-size: 48px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-toggle {
        display: none;
    }

    .navbar-expand-sm .navbar-nav {
        flex-direction: row;
    }

    h1 {
        font-size: 2.8rem;
    }

    .h1-design {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    .blog-card {
        padding: 20px 60px;
    }

    .lead {
        font-size: 1.25rem !important;
    }
}

@media only screen and (min-width: 1921px) {
    .h1-design {
        font-size: 3rem;
    }

    .img-design {
        width: 100px !important;
    }
}


.small-icon-custom {
    width: 32px;
    /*margin-bottom: .3rem;
    margin-right: .5rem;*/
}

.centered-box {
    margin: 0 auto;
}

.h1-design {
    margin-left: auto;
    margin-right: auto;
    max-width: 760px;
    text-align: center;
    margin-top: 10px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.009em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #1d1d1f;
}

.img-design {
    width: 80px;
}

.mt-design {
    margin-top: 10rem;
}


.border-radius-design {
    border-radius: 5rem;
}

.box-shadow-design {
    box-shadow: 5px 4px 21px rgba(0,0,0,.3);
}

.row > * {
    text-align: center;
}

.lead {
    font-size: 1rem;
}

.h2-design {
    font-size: 1.8rem;
}


.swiper-button-prev {
    transform: translateX(-80%) !important;
}

.swiper-button-next {
    transform: translateX(80%) !important;
}

.main-header__add {
    background-color: #ea4e34;
    border: none;
    color: #fff;
    padding: 4px;
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: auto;
    cursor: pointer;
    transition: 0.3s;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 70vh;
    background: #fef8f5;
    border-bottom: 2px solid #fcebe3;
    margin: 72px 0 -72px 0;
}

    #hero h1 {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #4e4039;
    }

    #hero h2 {
        color: #a08f86;
        margin: 15px 0 0 0;
        font-size: 24px;
    }

    #hero .btn-get-started {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 28px;
        border-radius: 3px;
        transition: 0.5s;
        margin-top: 30px;
        color: #fff;
        background: #eb5d1e;
    }

        #hero .btn-get-started:hover {
            background: #ef7f4d;
        }

    #hero .animated {
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }

@media (max-width: 991px) {
    #hero {
        height: calc(100vh - 72px);
    }

        #hero .animated {
            animation: none;
        }

        #hero .hero-img {
            text-align: center;
        }

            #hero .hero-img img {
                width: 50%;
            }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }

    #hero .hero-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}

@media (max-height: 600px) {
    #hero {
        height: 120vh;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

    .section-title h2 {
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 0;
        line-height: 1px;
        margin-bottom: 15px;
        color: #423f3e;
    }

    .section-title p {
        padding-bottom: 15px;
        margin-bottom: 15px;
        position: relative;
        font-size: 32px;
        font-weight: 700;
        color: #4e4039;
    }

        .section-title p::after {
            content: "";
            position: absolute;
            display: block;
            width: 60px;
            height: 2px;
            background: #151514;
            bottom: 0;
            left: calc(50% - 30px);
        }

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background-color: #fef5f1;
    min-height: 40px;
}

    .breadcrumbs h2 {
        font-size: 24px;
        font-weight: 300;
    }

    .breadcrumbs ol {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
    }

        .breadcrumbs ol li + li {
            padding-left: 10px;
        }

            .breadcrumbs ol li + li::before {
                display: inline-block;
                padding-right: 10px;
                color: #6c757d;
                content: "/";
            }

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

        .breadcrumbs ol li {
            display: inline-block;
        }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #885218;
}

.about h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    color: rgb(151, 117, 15);
}

.about i {
    font-size: 48px;
    margin-top: 15px;
    color: #f39e7a;
}

.about p {
    font-size: 18px;
    color: #5a6570;
}

@media (max-width: 991px) {
    .about .about-img img {
        max-width: 70%;
    }
}

@media (max-width: 767px) {
    .about .about-img img {
        max-width: 90%;
    }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    text-align: center;
    border-bottom: 3px solid #fff;
}

    .services .icon-box:hover {
        transform: translateY(-5px);
        border-color: #000;
    }

.services .icon i {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 15px;
    color: #ef7f4d;
}

.services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

    .services .title a {
        color: #111;
    }

.services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq {
    padding: 60px 0;
}

.faq .faq-list {
padding: 0;
list-style: none;
}

.faq .faq-list li {
    border-bottom: 1px solid #eae7e5;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.faq .faq-list .question {
    display: block;
    position: relative;
    font-family: #eb5d1e;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-weight: 600;
    padding-left: 25px;
    cursor: pointer;
    color: #885218;
    transition: 0.3s;
}

.faq .faq-list i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: -2px;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 25px;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list .collapsed {
    color: #343a40;
}

    .faq .faq-list .collapsed:hover {
        color: #000;
    }

    .faq .faq-list .collapsed .icon-show {
        display: inline-block;
        transition: 0.6s;
    }

    .faq .faq-list .collapsed .icon-close {
        display: none;
        transition: 0.6s;
    }


/* 15 */
.btn-15 {
    background: #b621fe;
    border: none;
    z-index: 1;
}

    .btn-15:after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background-color: #db8b35;
        border-radius: 5px;
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        transition: all 0.3s ease;
    }

.btn-15:hover {
    color: #fff;
}

    .btn-15:hover:after {
        left: 0;
        width: 100%;
    }

.btn-15:active {
    top: 2px;
}
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}


.custom-btn {
    width: 200px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background-color: #aa5f0f;
}

.btn-outline-primary {
    border-color: rgb(151, 117, 15);
    color: rgb(151, 117, 15);

}
.btn-outline-primary:hover {
    color: #fff;
    background-color: rgb(151, 117, 15);
    border-color: rgb(151, 117, 15);
}

.btn-primary {
    background-color: rgb(151, 117, 15);
    border-color: rgb(151, 117, 15);
    margin: 1rem 0;
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(111, 86, 12);
    border-color: rgb(111, 86, 12);
}
.form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(145, 84, 20, 0.25);
    border-color: transparent;
}

.medium-icon-custom{
    width: 5rem;
    margin-right: 1rem;
}

.btn-primary:active {
    color: #fff;
    background-color: #97750f;
    border-color: #97750f;
}
.btn-primary:focus {
    color: #fff;
    background-color: #97750f;
    border-color: #97750f;
    box-shadow: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1e1d1d;
}
.nav-link:hover {
    color: #1e1d1d;
}
.nav-link {
    color: #28292b;
}

.service-icon-custom{
    width: 4rem;
    margin-bottom: .5rem;
}

.card {
    transition: .3s;
    align-items: center;
    border: 2px solid black;
    background: linear-gradient(45deg, #EFEFEF 0%, #F2F2F2 100%);
}
.card:hover {
    transform: translateY(-20px);
}

.avatar-img{
    width: 8rem;
    margin-top: 1rem;
}

.shadow-sm {
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1) !important;
}

.card-custom-text {
    color: #45413E !important;
    font-weight: 600;
    font-size: .8rem;
}

.card-title {
    color: #45413E !important;
    font-weight: 600;
    font-size: 1.8rem;
}

.button {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 24px;
    border-radius: 48px;
    display: flex;
    flex-direction: row;
    grid-gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}