@{
    ViewData["Title"] = "Contact";
}
<html>
<body>
    <div class="text-center">
        <div>
            <h1 class="h1-design">Contact Us</h1>
            <div class="contact-section">
                <p>Do you have questions, suggestions or need help? We are here to listen and provide the best support possible. Contact us by e-mail: <a href="mailto:myemplo@gmail.com">myemplo@gmail.com</a>.</p>
                <p>Our experienced technical support team is available whether you need technical assistance or have questions about the app's features, our specialists will be happy to help you.</p>
                <p>Thank you for choosing <b>MyEmplo</b>!</p>
            </div>
        </div>
        <div>
            <img class="img-100" src="/img/others/Baner_contact.png" alt="" />
        </div>
    </div>
</body>
</html>
