@page
@model MyEmplo.MVC.Views.MyEmplo.DeleteModel

<h1 class="big-margin-top">Delete function is avalible soon..</h1>
<p class="text-muted">We are working on the delete function, it should be available soon</p>
<div class="text-center big-margin-top">
    <img class="img-100" src="/img/others/Baner_delete.png" alt="" />
</div>

@* <div>
    <p>Czy na pewno chcesz usunąć ten element?</p>
    <dl class="row">
        <!-- Wyświetl szczegóły MyEmplo tutaj -->
    </dl>
    <form asp-action="ConfirmDelete" asp-route-encodedName="@Model.EncodedName" method="post">
        <div class="form-group">
            <input type="submit" value="Usuń" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
        </div>
    </form>
</div> *@