@using MyEmplo.Application.MyEmploService.Commands;
@model MyEmplo.Application.MyEmplo.Commands.EditMyEmplo.EditMyEmploCommand

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.FullName</h1>
<p class="text-muted">Update your employee's details to current ones</p>

<div class="container-xl px-4">
    <div class="row text-center">
        <div class="text-center">
            <img class="img-100" src="/img/others/Baner_writing.png" alt="" />
        </div>
        <div>
            <!-- Account details card-->
                <form asp-action="Edit" class="row">
                    <div asp-validation-summary="ModelOnly" class="col-md-12 text-danger mb-3"></div>
                    <div class="form-group col-md-6 mb-3 mt-3 text-start">
                        <img class="small-icon mb-2" src="/img/icons/user.png">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" type="text" placeholder="Enter your full name" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3 mt-3 text-start">
                    <img class="small-icon mb-2" src="/img/icons/envelope.png">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" type="text" placeholder="Enter your email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3 mt-3 text-start">
                        <img class="small-icon mb-2" src="/img/icons/edit1.png">
                        <label asp-for="About" class="control-label">Description</label>
                        <input asp-for="About" type="text" placeholder="Enter about information" class="form-control" />
                        <span asp-validation-for="About" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3 mt-3 text-start">
                        <img class="small-icon mb-2" src="/img/icons/time.png">
                        <label asp-for="DateOfEmployment" class="control-label"></label>
                        <input asp-for="DateOfEmployment" type="text" placeholder="Enter date of employment" class="form-control" />
                        <span asp-validation-for="DateOfEmployment" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3 mt-3 text-start">
                        <img class="small-icon mb-2" src="/img/icons/star.png">
                        <label asp-for="TypeOfEmployment" class="control-label"></label>
                        <input asp-for="TypeOfEmployment" type="text" placeholder="Enter type of employment" class="form-control" />
                        <span asp-validation-for="TypeOfEmployment" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3 mt-3 text-start">
                        <img class="small-icon mb-2" src="/img/icons/rocket.png">
                        <label asp-for="Role" class="control-label"></label>
                        <input asp-for="Role" type="text" placeholder="Enter your role" class="form-control" />
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3 mt-3 text-start">
                        <img class="small-icon mb-2" src="/img/icons/world.png">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" type="text" placeholder="Enter your country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3 mt-3 text-start">
                        <img class="small-icon mb-2" src="/img/icons/marker.png">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" type="text" placeholder="Enter your address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3 mt-3 text-start">
                        <img class="small-icon mb-2" src="/img/icons/phone.png">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" type="text" placeholder="Enter your phone number" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3 mt-3 text-start">
                        <img class="small-icon mb-2" src="/img/icons/whatsapp.png">
                        <label asp-for="WhatsApp" class="control-label"></label>
                        <input asp-for="WhatsApp" type="text" placeholder="Enter your bank account number" class="form-control" />
                        <span asp-validation-for="WhatsApp" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3 mt-3 text-start">
                        <img class="small-icon mb-2" src="/img/icons/skype.png">
                        <label asp-for="Skype" class="control-label"></label>
                        <input asp-for="Skype" type="text" placeholder="Enter your Skype ID" class="form-control" />
                        <span asp-validation-for="Skype" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6 mb-3 mt-3 text-start">
                        <img class="small-icon mb-2" src="/img/icons/facebook.png">
                        <label asp-for="Messenger" class="control-label"></label>
                        <input asp-for="Messenger" type="text" placeholder="Enter your Messenger ID" class="form-control" />
                        <span asp-validation-for="Messenger" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="submit" value="Save your changes" class="btn btn-primary blue" />
                    </div>
                </form>
                <div class="m-3">
                    @* <partial name="_CreateMyEmploService" model="new CreateMyEmploServiceCommand() { MyEmploEncodedName = Model.EncodedName }" /> *@
                    <a asp-action="Index" class="btn btn-warning">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

@* <h3>Services:</h3>
<div id="services" class="row" data-encoded-name="@Model.EncodedName"></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/MyEmplo/Edit.js"></script>
} *@
