@model IEnumerable<MyEmplo.Application.MyEmplo.MyEmploDto>

@{
    ViewData["Title"] = "Moi Pracownicy";
}

<h1>Car Workshops</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Dodaj pracownika</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card m-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.FullName</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.PhoneNumber</h6>
                <p class="card-text">@item.Email</p>
                <a class="btn btn-primary" asp-controller="MyEmplo" asp-action="Details" asp-route-encodedName="@item.EncodedName">Details</a>
                <a href="#" class="btn btn-outline-secondary ">Edit</a>
            </div>
        </div>
    }
</div>